name: Publish

on:
  workflow_run:
    workflows: ["Tests"]
    types:
      - completed
    branches:
      - main

permissions:
  id-token: write

jobs:
  call-flutter_deploy_web:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    uses: Womotaq/github_actions/.github/workflows/flutter_publish_package.yaml@main
    secrets: inherit
