name: Create version tag

on:
  workflow_run:
    workflows: ["Run tests"]
    types:
      - completed
    branches:
      - main

permissions:
  contents: write
  id-token: write

jobs:
  call-flutter_deploy_web:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    uses: Womotaq/github_actions/.github/workflows/flutter_tag.yaml@v2.0.0
    secrets:
      PAT: ${{ secrets.PAT_WOFORM_TAGGER }}

