# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Tests

on:
  push:
    branches: [dev, main]
  pull_request:
    branches: [dev, main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: "stable"
      - run: flutter --version

      - name: Create Firebase Options file (lib/firebase_options.dart)
        run: |
          echo "${{ secrets.FIREBASE_OPTIONS_DART }}" > lib/firebase_options.dart
        shell: bash

      - name: Analyze project source
        run: flutter analyze

      - name: Run tests
        run: flutter test
